# Created by .ignore support plugin (hsz.mobi)
.idea/
public/profile_pictures/*.jpg
public/profile_pictures/*.jpeg
public/profile_pictures/*.png
coverage/
node_modules/*
npm-debug.log
bower_components/*
