# Created by .ignore support plugin (hsz.mobi)
.idea/
public/profile_pictures/*.jpg
public/profile_pictures/*.jpeg
public/profile_pictures/*.png
public/cast_covers/*.jpg
public/cast_covers/*.jpeg
public/cast_covers/*.png
coverage/
public/node_modules/*
npm-debug.log
