/ WHY: We put this script here so they are only load on this page.
%script{ :src => '/node_modules/spred-media-client/spred.io.min.js'}
%script{ :src => '/js/cast.js' }
%div.container.main-content
  %input#castId.hidden{ 'value' => @cast.id }
  %div.row
    %div.cast-header.col-sm-8
      %span.vcast-name= @cast.name
      %span par
      %a{:href => '/@' + @cast.creator.pseudo}= '@' + @cast.creator.pseudo
    %div.col-sm-4.edit-profile-btn
      - if session[:current_user] && @cast.creator.id != session[:current_user].id
        - if @cast.has_reminder?(session[:spred_tokens])
          %a.btn.btn-danger.follow-button{:href => '/casts/' + @cast.id + '/unremind'} Se désabonner
        - else
          %a.btn.btn-success.follow-button{:href => '/casts/' + @cast.id + '/remind'} S'abonner
      - elsif session[:current_user] && @cast.creator.id == session[:current_user].id
        %a#start_cast.btn.btn-success.follow-button.disabled{href: '#'}
          Start
        %a#terminate_cast.btn.btn-danger.follow-button.hidden{href: '#'}
          Terminer
        %a#delete_cast.btn.btn-danger.follow-button{href: "/casts/#{@cast.id}/delete"}
          Supprimer
        %div#source_dropdown.btn.dropdown{ 'data-toggle': "tooltip" }
          %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Source
            %span.caret
          %ul#select-source.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li
              %a{:onclick => "changeSource('webcam')"} Caméra
            %li
              %a{:onclick => "changeSource('screen')"} Ecran
            %li
              %a{:onclick => "changeSource('window')"} Fenêtre
  %video#video.vcast-video{ 'autoplay' => "true" }
  %div.vcast-panel
    %ul.nav.nav-tabs.nav-justified
      %li
        %a{'data-toggle' => 'tab', :href => '#info'} Informations
      %li.active
        %a{'data-toggle' => 'tab', :href => '#questions'} Questions
      %li
        %a{'data-toggle' => 'tab', :href => '#chat'} Chat
    %div.tab-content
      %div#info.tab-pane.fade
        %div.cast-info-title Description:
        %div= @cast.description

      %div#questions.tab-pane.fade.in.active
        %div#question-box.question-box
        %div.row
          %div.col-sm-10
            %input.form-control#question-input{:type => 'text', :placeholder => 'Posez votre question'}
          %div.col-sm-2
            %button.form-control.btn.btn-success{:onclick => 'askQuestion();'} Envoyer
      %div#chat.tab-pane.fade
        %div#chat-box.chat-content
        %div.row
          %div.col-sm-10
            %input#chat-input.form-control{:type => 'input', :placeholder => 'Votre message ...'}
          %div.col-sm-2
            %button.form-control.btn.btn-success{:onclick => 'sendMessage();'} Envoyer
