%div.container.wrapper
  %div.row
    %div.col-xs-6.col-xs-offset-3
      %div.login-block
        %div.row.login-title
          %span Connexion
        %div.row
          %div.col-sm-10.col-sm-offset-1
            %form#login-form{:method => 'post', :action => '/login', :name => 'login'}
              %input.form-control.login-field{:name => 'email', :type => 'email', :placeholder => 'Email'}
              %input.form-control.login-field{:name => 'password', :type => 'password', :placeholder => 'Mot de passe'}
              %input.form-control.btn.btn-success{:name => 'submit', :value => 'Se connecter'}
              %input#login-type{:name => 'login_type', :type => 'hidden', :value => 'password'}
              %input#token{:name => 'token', :type => 'hidden'}
        %div.row
          %div.col-xs-4.col-xs-offset-1
            %hr.signup-hr
          %div.col-xs-2.or
            %span OU
          %div.col-xs-4
            %hr.signup-hr
        %div.row
          %div.col-xs-5.col-sm-offset-1
            %button.btn.login-btn.signup-facebook.center-text{:onclick => 'fbLogin()'}
              %i.fa.fa-facebook{:aria => {:hidden => 'true'}}
          %div.col-xs-5
            %button#googleLogin.btn.login-btn.signup-google.center-text
              %i.fa.fa-google-plus{:aria => {:hidden => 'true'}}