%form{action: '', method: 'post'}
  %input{type: 'text', name: 'username'}
  %input{type: 'password', name: 'password'}
  %input{type: 'submit', value: 'login'}

%form{action: 'google_login', method: 'post'}
  %input{type: 'text', name: 'access_token'}
  %input{type: 'submit', value: 'google login'}

%form{action: 'facebook_login', method: 'post'}
  %input{type: 'text', name: 'access_token'}
  %input{type: 'submit', value: 'facebook login'}
