%div.container-fluid
  %nav.navbar
    %div.icon-list
      %div{ class:'col-xs-3 text-center navbar-col vmiddle' }
        %a{ href:'#', class:'text-decoration-none navbar-button' }
          %i.fa.fa-fw.fa-star-o.navbar-button-icons
          %br
          %span.navbar-button-labels
            Favorites
      %div{ class:'col-xs-3 text-center navbar-col' }
        %a{ href:'#', class:'text-decoration-none navbar-button' }
          %i.fa.fa-fw.fa-bell-o.navbar-button-icons
          %br
          %span.navbar-button-labels
            Alerts
      %div{ class:'col-xs-3 text-center navbar-col' }
        %a{ href:'#', class:'text-decoration-none navbar-button' }
          %i.fa.fa-fw.fa-envelope-o.navbar-button-icons
          %br
          %span.navbar-button-labels
            Messages
      %div{ class:'col-xs-3 text-center navbar-col' }
        %a{ href:'#', class:'text-decoration-none navbar-button' }
          %i.fa.fa-fw.fa-comment-o.navbar-button-icons
          %br
          %span.navbar-button-labels
            Comments