%form{action: '/test/new_conv', method: 'post'}
  %input{type: 'text', name: 'object'}
  %input{type: 'users', name: 'users'}
  %input{type: 'text', name: 'msg'}
  %input{type: 'submit', value: 'create'}