%div.container.wrapper
  %div.signup-bloc
    %div.row.signup-title
      %span Inscription
    %div.row
      %div.col-xs-4.center-text
        %span.badge.active 1
        %br
        %span.text-signup-info.active Informations personnelles
        %div.line-signup.active
      %div.col-xs-4.center-text
        %span.badge 2
        %br
        %span.text-signup-info Choix du pseudo
        %div.line-signup
      %div.col-xs-4.center-text
        %span.badge 3
        %br
        %span.text-signup-info Centre d'intéret
        %div.line-signup
    %div.row
      %div.col-sm-8.col-sm-offset-2
        %div.btn-space
          %button.btn.signup-btn.signup-email{:data => { :toggle => 'collapse', :target => '#email-signin'}}
            %i.fa.fa-envelope-o{:aria => {:hidden => 'true'}}
            %span Inscription avec adresse email
          %div#email-signin.row.signup-form.collapse{:class => ('in' if @signup)}
            %form{:method => 'post', :name => 'signup-step1'}
              %div.form-group{:class => ('has-feedback' if @errors && @errors['email'])}
                %label.control-label{:for => 'email'} Email
                %input.form-control{:name => 'email', :type => 'email', :value => (@signup['email'] if @signup && @signup['email'])}
                - if @errors && @errors['email']
                  %span.glyphicon.glyphicon-remove.form-control-feedback
              %div.form-group{:class => ('has-feedback' if @errors && @errors['password'])}
                %label{:for => 'password'} Mot de passe
                %input#password.form-control{:name => 'password', :type => 'password'}
                - if @errors && @errors['password']
                  %span.glyphicon.glyphicon-remove.form-control-feedback
              %div.form-group{:class => ('has-feedback' if @errors && @errors['password'])}
                %label{:for => 'confirm-password'} Confirmer le mot de passe
                %input#confirm-password.form-control{:name => 'confirm-password', :type => 'password'}
                - if @errors && @errors['password']
                  %span.glyphicon.glyphicon-remove.form-control-feedback
              %div.form-group
                %label{:for => 'first-name'} Prénom
                %input#first_name.form-control{:name => 'first-name', :type => 'text', :value => (@signup['first-name'] if @signup && @signup['first-name'])}
              %div.form-group
                %label{:for => 'last-name'} Nom
                %input#last-name.form-control{:name => 'last-name', :type => 'text', :value => (@signup['last-name'] if @signup && @signup['last-name'])}
              %div.form-group.btn-signup
                %input{:type => 'hidden', :name => 'signup-type', :value => 'password'}
                %input.form-control.btn.btn-success{:type => 'submit', :value => 'Passer à l\'étape suivante'}
          %div.row
            %div.col-xs-5
              %hr.signup-hr
            %div.col-xs-2.or
              %span OU
            %div.col-xs-5
              %hr.signup-hr
          %button.btn.signup-btn.signup-facebook{:onclick => 'fbLogin()'}
            %i.fa.fa-facebook{:aria => {:hidden => 'true'}}
            %span Inscription avec Facebook
          %button#googleLogin.btn.signup-btn.signup-google
            %i.fa.fa-google-plus{:aria => {:hidden => 'true'}}
            %span Inscription avec Google
          %form#token-form{:method => 'post', :name => 'signup-step1'}
            %input#signup-type{:type => 'hidden', :name => 'signup-type'}
            %input#token{:type => 'hidden', :name => 'access_token'}
