%div.main-space
  %div.login
    %div.row
      %div.col-xs-offset-4.col-xs-4
        %div.panel.panel-default
          %div.panel-body
            %p.text-center.title.semibold
              Inscription
            %form{ 'action' => '/signup', 'method' => 'post' }
              %div.form-group
                %div.input-group.form-field-margin
                  %span{ 'id' => 'basic-addon1', 'class' => 'input-group-addon' }
                    @
                  %input{ 'type' => 'text', 'class' => 'form-control', 'placeholder' => 'Pseudo', 'aria-describedby' => 'basic-addon1', 'name' => 'pseudo' }
                %input{ 'type' => 'text', 'class' => 'form-control form-field-margin', 'placeholder' => 'Adresse email', 'name' => 'email' }
                %input{ 'type' => 'text', 'class' => 'form-control form-field-margin', 'placeholder' => 'Prénom', 'name' => 'first_name' }
                %input{ 'type' => 'text', 'class' => 'form-control form-field-margin', 'placeholder' => 'Nom', 'name' => 'last_name' }
                %input{ 'type' => 'text', 'class' => 'form-control form-field-margin', 'placeholder' => 'Mot de passe', 'name' => 'password' }
                %input{ 'type' => 'text', 'class' => 'form-control form-field-margin-last', 'placeholder' => 'Confirmation mot de passe', 'name' => 'confirm_password' }
                %input{ 'type' => 'submit', 'class' => 'form-control btn btn-success submit-button', 'value' => 'Valider' }