%h1 user
%td
  %tr= user['email']
  %tr= user['first_name']
  %form{action: "/user/#{user['id']}/#{following_user ? 'unfollow' : 'follow'}", method: 'post'}
    %input{type: 'submit', value: following_user ? 'unfollow' : 'follow'}