a, a:hover, a:active, a:visited {
    color: #55AA55;
}

.body-main {
    background-color: #f1f1f1;
    padding-bottom: 50px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand.logo {
    width: 250px;
    padding-left: 50px;
    font-size: 35px;
    color: #55AA55;
    font-style: italic;
    font-weight: bold;
}

.search-bar {
    width: 600px;
}

.search-btn {
    font-size: 16px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.btn-nav {
    margin-right: 30px;
}

.nav-btn-signup {
    color: white !important;
}

.main-content {
    background-color: #fff;
    padding-bottom: 25px;
}

.spredcast-grp h3 {
    font-size: 20px;
    padding-left: 10px;
}

.wrapper {
    padding-top: 35px;
}

.signup-bloc {
    margin: auto;
    max-width: 650px;
}

.signup-title {
    text-align: center;
    font-size: 35px;
    color: #55AA55;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
}

.center-text {
    text-align: center;
}

.badge.active {
    background-color: #55AA55;
    margin-bottom: 5px;
}

.text-signup-info {
    color: #777;
    font-size: 16px;
    margin-bottom: 10px;
}

.text-signup-info.active {
    color: #55AA55;
}

.line-signup {
    margin-top: 20px;
    height: 5px;
    width: 100%;
    background-color: #777;
}

.line-signup.active {
    background-color: #55AA55;
}

.btn-space {
    margin-top: 50px;
}

.signup-btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}

.signup-btn i {
    margin-right: 20px;
}

.signup-email {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.signup-email:hover {
    color: #fff;
}

.signup-email:active {
    color: #fff;
}

.signup-email:visited {
    color: #fff;
}

.signup-email:focus {
    color: #fff;
}

.signup-facebook {
    color: #fff;
    background-color: #4267b2;
}

.signup-facebook:hover {
    color: #fff;
}

.signup-facebook:active {
    color: #fff;
}

.signup-facebook:visited {
    color: #fff;
}

.signup-facebook:focus {
    color: #fff;
}

.signup-google {
    color: #fff;
    background-color: #c53929;
}

.signup-google:hover {
    color: #fff;
}

.signup-google:active {
    color: #fff;
}

.signup-google:visited {
    color: #fff;
}

.signup-google:focus {
    color: #fff;
}

.signup-form {
    margin-top: 10px;
}

.btn-signup {
    margin-top: 40px;
}

.signup-hr {
    border-top-color: #777;
}

.or {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 25px;
}

.hidden-feedback {
    display: none;
}

.info-pseudo {
    margin-top: 50px;
    margin-bottom: 40px;
}

.validate-interest {
    margin-top: 300px;
}

.modal-close {
    margin-right: 20px;
}

.login-modal {
    width: 500px;
}

.login-field {
    margin-bottom: 30px;
}

.login-btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-block {
    background-color: white;
    border-radius: 5px;
}

.login-title {
    text-align: center;
    font-size: 35px;
    color: #55AA55;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
}

.navbar-icon {
    width: 100px;
    text-align: center;
}

.play-icon {
    color: #55AA55;
    font-size: 20px;
}

.inbox-icon {
    color: #777;
    font-size: 20px;
}

.inbox-badge {
    font-size: 10px;
    margin-top: -6px;
    background-color: #777;
}

.inbox-badge.active {
    background-color: #55AA55;
}

.nav-profile-picture {
    border-radius: 25px;
    cursor: pointer;
    margin-left: 100px;
    width: 50px;
    height: 50px;
}

.following-profile-picture {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.profile-header {
    background-color: #55AA55;
}

.profile-cadre {
    top: 90px;
    position: relative;
    width: 210px;
    height: 210px;
    background-color: #fff;
    border-radius: 15px;
}

.profile-picture {
    margin: 5px;
    width: 200px;
    border-radius: 15px;
}

.profile-name {
    padding-left: 250px;
}

.profile-name h2 {
    margin-bottom: 0;
}

.profile-name h3 {
    margin-top: 5px;
    color: #777;
    font-style: italic;
}

.edit-profile-btn {
    margin-top: 30px;
}

.profile-info-line {
    margin-top: 20px;
    text-align: center;
    border-top: solid 1px #f1f1f1;
}

.profile-info-cell {
    border-right: solid 2px #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-info-cell h4 {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

.profile-info-cell span {
    font-size: 20px;
    color: #55AA55;
    font-weight: bold;
}

.profile-form {
    margin-top: 50px;
}

.main-inbox-content {
    background-color: #fff;
    margin-bottom: 10px;
}

.inbox-content {
    height: 100%;
    overflow-y: auto;
}

.toolbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.new-conversation-link {
    color: #55AA55;
}

.new-conversation-link:hover {
    color: #55AA55;
}

.new-conversation-link:active {
    color: #55AA55;
}

.new-conversation-link:focus {
    color: #55AA55;
}

.new-conversation-link:visited {
    color: #55AA55;
}

.replylink {
    color: black;
}

.replylink:hover {
    color: black;
}

.box-border {
    border-top: solid 1px #ccc;
}

.inbox-display {
    height: 700px;
}

.inbox-conversation {
    border-right: solid 1px #ccc;
    height: 100%;
}

.conversation {
    height: 80px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
}

.conversation:hover {
    background-color: #f1f1f1;
}

.conversation.active {
    background-color: #dedddd;
}

.unread {
    position: relative;
    top: 25px;
    color: #55AA55;
}

.read {
    position: relative;
    top: 25px;
    color: #55AA55;
    opacity: 0;
}

.object {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.members {
    padding-left: 20px;
    font-style: italic;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inbox-dest-label {
    color: #777;
    padding-top: 5px;
}

.inbox-object-padding {
    padding-top: 10px;
}

.main-inbox-create-conv {
    background-color: #fff;
}

.loading {
    display: none;
    padding-top: 280px;
    text-align: center;
}

.message-picture {
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.message {
    padding-top: 10px;
    padding-bottom: 10px;
}

.message-author {
    font-size: 14px;
    font-weight: bold;
}

.message-date {
    margin-left: 10px;
    font-size: 10px;
    color: #777;
}

.message-author-pseudo {
    font-size: 10px;
    color: #777;
    font-style: italic;
}

.message-content {
    padding-left: 15px;
    padding-right: 15px;
}

.disabled {
    pointer-events: none !important;
    cursor: default;
    color: Gray;
}

.conversation-reply {
    margin-top: 4px;
    margin-bottom: 4px;
}

.conversation-reply.object-fix {
    font-weight: bold;
}

.create-cast-form {
    margin: 30px;
}

.stream-pic {
    width: 200px;
    height: 200px;
    border: solid 1px #ddd;
    text-align: center;
    padding: 10px;
}

.stream-txt {
    margin-top: 70px;
    font-style: italic;
}

.stream-desc-margin {
    margin-top: 23px;
}

.create-cast {
    padding-bottom: 40px;
}

.cast-title {
    font-style: italic;
    margin-bottom: 40px;
}

.cast-bloc-split {
    border-left: solid 1px #ddd;
    padding-top: 20px;
}

.cast-type-bloc {
    padding-top: 20px;
}

.cast-type {
    font-weight: bold;
}

.cast-member {
    width: 450px;
}

.cast-nb-user {
    margin-top: 120px;
}

.mbr-list {
    width: 100%;
    height: 200px;
    border: solid 1px #ddd;
}

.date-box {
    height: 200px;
}

.date-box-part {
    height: 100px;
    text-align: center;
    padding: 20px;
}

.date-box-part:hover {
    background-color: #eee;
}

.date-box-part-up {
    border-bottom: solid 1px #ddd;
    padding-top: 40px;
}

.duration {
    margin-top: 50px;
}

.btn-line {
    text-align: right;
}

@media (max-width: 1200px) {
    .navbar-default .navbar-brand.logo {
        width: inherit;
    }
    .search-bar {
        width: 250px;
    }
}

@media (max-width: 732px) {
    .search-bar {
        width: 250px;
    }
    .navbar-right {
        padding-left: 10px;
    }
}

.cast-name {
    color: #4cae4c;
    font-size: 20px;
    font-weight: bold;
}

.cast-creator {
    color: Gray;
    font-size: 14px;
}

.cast-picture {
    width: 150px;
    height: 150px;
}

.casts-row {
    margin: 20px;
}

.cast-nb-viewer {
    font-size: 12px;
    font-style: italic;
}

.cast-step-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #777;
}

.cast-step-header div {
    margin-top: 20px;
    height: 5px;
    width: 100%;
    background-color: #777;
}

.cast-step-header.active span {
    color: #4cae4c;
}

.cast-step-header.active div {
    background-color: #4cae4c;
}

.cast-step-content {
    padding: 30px;
}

.disabled-div {
    opacity: 0.5;
    pointer-events: none;
}

.cast-step-button {
    margin-top: 30px;
}

.cast-step-button-next {
    text-align: right;
}

.cast-step-c {
    height: 380px;
}

#when-c {
    padding-top: 60px;
}

#tags-c {
    padding-top: 80px;
}

.cast-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vcast-name {
    font-size: 25px;
    letter-spacing: 2px;
}

.vcast-video {
    width: 100%;
    height: 600px;
}

.vcast-panel {
    margin-top: 20px;
    height: 500px;
}

.question-box {
    height: 400px;
    overflow-y: scroll;
}

.cast-info-title {
    margin-top: 10px;
    font-size: 18px;
    color: #777;
}

.chat-content {
    height: 400px;
    overflow-y: scroll;
}

.mine-description {
    padding: 3px 10px;
    color: #777;
    height: 110px;
}


.question {
    padding: 20px;
    padding-top: 30px;
    background-color: #fbfbfb;
}

.question-picture {
    height: 70px;
    width: 70px;
}

.question-info {
    color: #777;
    margin-bottom: 10px;
}
.question-vote-box {
    height: 70px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px #ccc;
    text-align: center;
    color: #777;
    padding-top: 4px;
}
.question-vote-nb {
    font-size: 25px;
}
.question-btn-vote {
    height: 30px;
}

.message {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.followings-row {
    margin: 20px;
}


.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}
