.body-main {
    background-color: #f1f1f1;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-brand.logo {
    width: 250px;
    padding-left: 50px;
    font-size: 35px;
    color: #55AA55;
    font-style: italic;
    font-weight: bold;
}
.search-bar {
    width: 600px;
}
.search-btn {
    font-size: 16px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.btn-nav {
    margin-right: 30px;
}
.main-content {
    background-color: #fff;
}
.spredcast-grp h3 {
    font-size: 20px;
    padding-left: 10px;
}
.wrapper {
    padding-top: 35px;
}
.signup-bloc {
    margin: auto;
    max-width: 650px;
}
.signup-title {
    text-align: center;
    font-size: 35px;
    color: #55AA55;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
}
.center-text {
    text-align: center;
}
.badge.active {
    background-color: #55AA55;
    margin-bottom: 5px;
}
.text-signup-info {
    color: #777;
    font-size: 16px;
    margin-bottom: 10px;
}
.text-signup-info.active {
    color: #55AA55;
}
.line-signup {
    margin-top: 20px;
    height: 5px;
    width: 100%;
    background-color: #777;
}
.line-signup.active {
    background-color: #55AA55;
}
.btn-space {
    margin-top: 50px;
}
.signup-btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.signup-btn i {
    margin-right: 20px;
}

.signup-email {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.signup-email:hover {
    color: #fff;
}
.signup-email:active {
    color: #fff;
}
.signup-email:visited {
    color: #fff;
}
.signup-email:focus {
    color: #fff;
}

.signup-facebook {
    color: #fff;
    background-color: #4267b2;
}
.signup-facebook:hover {
    color: #fff;
}
.signup-facebook:active {
    color: #fff;
}
.signup-facebook:visited {
    color: #fff;
}
.signup-facebook:focus {
    color: #fff;
}

.signup-google {
    color: #fff;
    background-color: #c53929;
}
.signup-google:hover {
    color: #fff;
}
.signup-google:active {
    color: #fff;
}
.signup-google:visited {
    color: #fff;
}
.signup-google:focus {
    color: #fff;
}
.signup-form {
    margin-top: 10px;
}
.btn-signup {
    margin-top: 40px;
}
.signup-hr {
    border-top-color: #777;
}
.or {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 25px;
}
.hidden-feedback {
    display: none;
}
.info-pseudo {
    margin-top: 50px;
    margin-bottom: 40px;
}
.validate-interest {
    margin-top: 300px;
}
.modal-close {
    margin-right: 20px;
}
.login-modal {
    width: 500px;
}
.login-field {
    margin-bottom: 30px;
}
.login-btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}
.login-block {
    background-color: white;
    border-radius: 5px;
}
.login-title {
    text-align: center;
    font-size: 35px;
    color: #55AA55;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 40px;
}
.navbar-icon {
    border-left: solid #777 1px;
    width: 100px;
    text-align: center;
}
.navbar-icon.last {
    border-right: solid #777 1px;
}
.play-icon {
    color: #55AA55;
    font-size: 20px;
}
.inbox-icon {
    color: #777;
    font-size: 20px;
}
.inbox-badge {
    font-size: 10px;
    margin-top: -6px;
    background-color: #55AA55;
}
.nav-profile-picture {
    border-radius: 25px;
    cursor: pointer;
    margin-left: 100px;
}
.profile-header {
    background-color: #55AA55;
}
.profile-cadre {
    top: 90px;
    position: relative;
    width: 210px;
    height: 210px;
    background-color: #fff;
    border-radius: 15px;
}
.profile-picture {
    margin: 5px;
    width: 200px;
    border-radius: 15px;
}
.profile-name {
    padding-left: 250px;
}
.profile-name h2 {
    margin-bottom: 0;
}
.profile-name h3 {
    margin-top: 5px;
    color: #777;
    font-style: italic;
}
.edit-profile-btn {
    margin-top: 30px;
}
.profile-info-line {
    margin-top: 20px;
    text-align: center;
    border-top: solid 1px #f1f1f1;
}
.profile-info-cell {
    border-right: solid 2px #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-info-cell h4 {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}
.profile-info-cell span {
    font-size: 20px;
    color: #55AA55;
    font-weight: bold;
}
.profile-form {
    margin-top: 50px;
}
.main-inbox-content {
    background-color: #fff;
    height: 100vh;
}
.toolbox {
    margin-top: 10px;
    margin-bottom: 10px;
}
.toolbox a {
    color: #55AA55;
}
.box-border {
    border-top: solid 1px #ccc;
}
.inbox-conversation {
    border-right: solid 1px #ccc;
    height: 100%;
}
.conversation {
    height: 80px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
}
.conversation.active {
    background-color: #f1f1f1;
}
.unread {
    position: relative;
    top: 25px;
    color: #55AA55;
}
.object {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}
.members {
    padding-left: 20px;
    font-style: italic;
    color: #777;
}
.inbox-dest-label {
    color: #777;
    padding-top: 5px;
}
.inbox-object-padding {
    padding-top: 10px;
}
.main-inbox-create-conv {
    background-color: #fff;
}
@media (max-width: 1200px) {
    .navbar-default .navbar-brand.logo {
        width: inherit;
    }
    .search-bar {
        width: 250px;
    }
}

@media (max-width: 732px) {
    .search-bar {
        width: 250px;
    }

    .navbar-right {
        padding-left: 10px;
    }
}