%div.container.main-content
  %div.row.profile-header
    %div.col-sm-4
      %div.profile-cadre
        %img.profile-picture{:src => @user.picture_url}
  %div.row
    %div.col-sm-8
      %div.profile-name
        %h2= @user.first_name + ' ' + @user.last_name
        %h3= '@' + @user.pseudo
    %div.col-sm-2.col-sm-offset-2.edit-profile-btn
      - if @user.id == session[:current_user].id
        %a.btn.btn-default{:href => '/profile/edit'} Editer mon profil
      - elsif @is_following
        %a.btn.btn-danger{:href => '/user/' + @user.id + '/unfollow'} Se désabonner
      - else
        %a.btn.btn-success{:href => '/user/' + @user.id + '/follow'} S'abonner
  %div.row.profile-info-line
    %div.col-sm-2.profile-info-cell
      %h4 Following
      %span= @user.following.length
    %div.col-sm-2.profile-info-cell
      %h4 Follower
      %span 0
    %div.col-sm-2.profile-info-cell
      %h4 Spredcast
      %span 0
    %div.col-sm-2.profile-info-cell
      %h4 Réputation
      %span
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-half-o
        %i.fa.fa-star-o
    %div.col-sm-2.profile-info-cell
      %h4 Points
      %span 590
