%div.container.wrapper
  %div.signup-bloc
    %div.row.signup-title
      %span Inscription
    %div.row
      %div.col-xs-4.center-text
        %span.badge.active 1
        %br
        %span.text-signup-info.active Informations personnelles
        %div.line-signup.active
      %div.col-xs-4.center-text
        %span.badge.active 2
        %br
        %span.text-signup-info.active Choix du pseudo
        %div.line-signup.active
      %div.col-xs-4.center-text
        %span.badge.active 3
        %br
        %span.text-signup-info.active Centre d'intéret
        %div.line-signup.active
    %div.row
      %div.col-sm-8.col-sm-offset-2
        %div.row.validate-interest
          %div.col-xs-2
            %a.btn.btn-default{:href => '/'} Passer cette étape
          %div.col-xs-2.col-xs-offset-8
            %a.btn.btn-success{:href => '/'} Valider