%div.feed-menu-container
  %div.row
    %div.col-sm-5
    %div.col-sm-4.feed-menu
      %div.row
        - if session[:spred_tokens].is_a? TokenBox
          - if @active == :subscription
            %div.col-sm-3.feed-active
              %a{href: '/feed/subscriptions'} Abonnements
          - else
            %div.col-sm-3
              %a{href: '/feed/subscriptions'} Abonnements
        - if @active == :trending
          %div.col-sm-3.feed-active
            %a{href: '/feed/trending'} Tendances
        - else
          %div.col-sm-3
            %a{href: '/feed/trending'} Tendances
