%div.container.main-inbox-content
  %div.row.toolbox
    %div.col-sm-4.center-text
      %a{:href => '/inbox/conversation/new'}
        %i.fa.fa-envelope
        %span Nouveau message
    %div.col-sm-4.col-sm-offset-4.center-text
      %div
        %i.fa.fa-reply
        %span Répondre
  %div.row.box-border
    %div.col-sm-4.inbox-conversation
      %div.row.conversation.active
        %div.unread
          %i.fa.fa-circle
        %div.object Hello
        %div.members @toto, @titi, ...
    %div.row.inbox-content



