%div.container.main-inbox-create-conv
  %form{:method => 'POST', :name => 'create-conversation'}
    %div.row.toolbox
      %div.col-sm-1.center-text.inbox-dest-label
        %span À :
      %div.col-sm-11
        %p.convers-dest= @conversation.members_as_string
    %div.row.toolbox.box-border.inbox-object-padding
      %div.col-sm-1.center-text.inbox-dest-label
        %span Objet :
      %div.col-sm-11
        %input.form-control{:type => 'text', :name => 'object', :placeholder => 'Sujet de votre message'}
    %div.row.box-border.inbox-object-padding
      %div.col-sm-12
        %textarea.form-control{:type => 'text', :name => 'content', :placeholder => 'Message ...', :rows => '30'}
    %div.row.inbox-object-padding
      %div.col-sm-2.col-xs-offset-8
        %a.btn.btn-default.form-control{:href => '/inbox'} Annuler
      %div.col-sm-2
        %input.btn.btn-success.form-control{:type => 'submit', :value => 'Envoyer', :name => 'send'}