%html
  %head
    %meta{ :charset => 'UTF-8' }
    %meta{ :name => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}
    %script{ :src => '/js/lib/jquery.min.js' }
    %script{ :src => '/js/lib/bootstrap.min.js' }
    %script{ :src => '/js/lib/bootstrap-tokenfield.min.js' }
    %script{ :src => '/js/inbox.js' }
    %link{ rel:'stylesheet', type:'text/css', href:'/fonts/font-awesome-4.2.0/css/font-awesome.min.css' }
    %link{ rel:'stylesheet', type:'text/css', href:'/css/bootstrap.min.css' }
    %link{ rel:'stylesheet', type:'text/css', href:'/css/bootstrap-tokenfield.min.css' }
    %link{ rel:'stylesheet', type:'text/css', href:'/css/common.css' }
  %body.body-main
    = haml :'layout/navbar'
    %div
      = yield