%script{src: '/js/lib/algoliasearch.jquery.min.js'}
%script{src: '/js/lib/autocomplete.jquery.min.js'}
%script{src: '/js/navbar.js'}
%nav.navbar.navbar-default
  %div.container-fluid
    %div.navbar-header
      %button.navbar-toggle.collapsed{:type => 'button', 'data-toggle' =>'collapse', 'data-target' => '#nav-collapse', 'aria-expanded' => 'false'}
        %span.sr-only
          Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo{:href =>'/' }
        Spred

    %div#nav-collapse.collapse.navbar-collapse
      %form.navbar-form.navbar-left
        %div.input-group.search-bar.aa-input-container#aa-input-container
          %input.form-control.aa-input-search#global-search#aa-input-search{:type => 'text', :name => 'search', :placeholder => 'Rechercher', autocomplete: 'off'}
          %span.input-group-btn
            %button.btn.btn-default{:type => 'submit'}
              %span.fa.fa-search.search-btn
      - unless session[:current_user].is_a? CurrentUser
        %ul.nav.navbar-nav.navbar-right
          %li
            %p.navbar-btn
              %button.btn.btn-default.btn-nav{:data => {:toggle => 'modal', :target => '#login-modal'}} Connexion
          %li
            %p.navbar-btn
              %a.btn.btn-success.btn-nav.nav-btn-signup{:href => '/signup-step1'} Créer un compte
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.navbar-icon{:href => '/create-cast'}
              %i.fa.fa-play.play-icon
          %li
            %a.navbar-icon.last{:href => '/inbox'}
              %i.fa.fa-inbox.inbox-icon
              - if @unread_message_count > 0
                %span#unread-count.badge.inbox-badge.active=@unread_message_count
              - else
                %span#unread-count.badge.inbox-badge=@unread_message_count
          %li
            %div.dropdown
              %img.nav-profile-picture.dropdown-toggle{:src => session[:current_user].picture_url, :type => 'button', :data => {:toggle => 'dropdown'}}
              %ul.dropdown-menu{:role => 'menu', :aria => {:labelledby => 'menu1'}}
                %li{:role => 'presentation'}
                  %a{:role => 'menuitem'}= '@' + session[:current_user].pseudo
                %li.divider{:role => 'separator'}
                %li{:role => 'presentation'}
                  %a{:href => '/profile'}
                    %i.fa.fa-user{:aria => {:hidden => 'true'}}
                    %span Mon profil
                %li{:role => 'presentation'}
                  %a{:href => '/profile/casts'}
                    %i.fa.fa-video-camera{:aria => {:hidden => 'true'}}
                    %span Mes casts
                %li{:role => 'presentation'}
                  %a{:href => '/setting'}
                    %i.fa.fa-cog{:aria => {:hidden => 'true'}}
                    %span Paramètres
                %li.divider{:role => 'separator'}
                %li{:role => 'presentation'}
                  %a{:href => '/logout'}
                    %i.fa.fa-sign-out{:aria => {:hidden => 'true'}}
                    %span Se déconnecter
