%script{src: 'js/lib/jquery.min.js'}
%script{src: '/js/lib/algoliasearch.jquery.min.js'}
%script{src: 'js/lib/selectize.min.js'}

%div.container.main-content
  %div#input-users
    %input{type: 'text'}
  %div#search-input-icon
